@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.gradient-background {
  /* background-image: url("./Assets/Background.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: #0c0c0c;
  /* background: #0e0d0d; */
}

.bg-img {
  background-image: url("./Assets/bg.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


.sed{
  background-position: top;
  background-image: url("./Assets/bg.png");
  background-size: 50%;
  background-repeat: no-repeat;
}

.padding-background {
  padding-left: 3rem /* 48px */;
  padding-right: 3rem /* 48px */;
}

@media (max-width: 640px) {
  .bg-img {
    background-size: 80%;
  }
  .bg-img-home {
    background-size: 80%;
    background-position: center center;
  }
}
